# logs
logs
*.log
npm-debug.log*

# node_modules
**/node_modules/**

# editor
.vscode/
.idea/
.nx

# locks
package-lock.json
pnpm-lock.yaml

# tmp
.tmp
tmp

# build
**/build/**
**/dist/**

# other
.DS_Store
.store

# local config from yourself
self-configs