html {
  font-size: 18px;
}
body {
  font-size: 18px;
  /*修复正常文档流行高*/
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: #282c34;
}

.header {
  text-align: left;
}
.mobile-test {
  color: #fff;
  margin-bottom: 50px;
}

.remDiv {
  font-size: 1rem;
}
.remBlock {
  width: 1rem;
  background: #000;
  height: 1rem;
  border: 1px solid #fff;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
