{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "mocha": true // 启用 Mocha 环境
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:cypress/recommended"
  ],
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": [".eslintrc.{js,cjs}"],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ],
  "plugins": ["react", "prettier", "mocha", "cypress"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "prettier/prettier": "error",
    "no-debugger":"off"
  },
  "ignorePatterns": ["!.lintstagedrc.js"]
}
